<form action="" method="post">
    <input type="email" placeholder="Email"  name="username" id=""/>
    <input type="password" name="password" id=" " placeholder="Password"/>
    <button>Login</button>
</form>